<p>
	<strong><%= l(:attach_files) %></strong> (
	<% if @project.has_file_server? %>
		<%= @project.file_server.autoscan ? "" : link_to(l(:attach_rescan), scan_files_issue_path(@issue), :method => :post, :remote => true ) + " / "%>
		<%= link_to(l(:attach_browse), @issue.alien_files_folder_url(true), :target => "_blank") %>
	<% end %>)
</p>