<%= stylesheet_link_tag 'fileserverlayout.css', plugin: 'file_servers' %>
<p>
  <strong><%= l(:attach_files) %></strong> (
  <%= if container.project.file_server.autoscan
        ''
      else
        link_to(l(:attach_rescan), scan_files_path(container.class.name.underscore.pluralize, container.id,
                                                   back_url: request.original_url), method: :patch, remote: true ) + " / "
      end %>
  <%= link_to(l(:attach_browse), container.alien_files_folder(true), :target => "_blank") %>
  )</p>
<% if attachments && attachments.blank? %>
  <div class="attachments">
    <table>
    </table>
  </div>
<% end -%>